#timeLabel, #timeCount {
    float: right;
}

.view {
    float: left;
}

#card, #card2 {
    /* border: 2px solid black; */
    margin: 70px 100px;
    text-align: center;
}

#container {
    border: 2px solid black;
    margin: 70px 100px;
    text-align: center;
}

#title {
    margin-bottom: 15px;
}

.btn {
    margin-bottom: 10px
}

.hide {
   display: none;
}

/*#newScore {
    background-color: rgb(187, 83, 83);
    color: white;
}
*/

.score-div {
    margin-bottom: 15px;
    background: crimson;
    border: 2px solid white;
    color: white;
}



/* h1, p { 
    text-align: center;
}

#start {
    text-align: center;
} */
